<h2>Contact US</h2>
<br/>
<div class="form">
    <form name="contact-form">
    Name: <input type="text" name="name" placeholder="Full Name" size="30"  value=""><br/>
    Email: <input type="email" name="email" placeholder="Email" size="30"  value=""><br/>
    Mobile: <input type="text" name="number" placeholder="Mobile Number"  ><br/>
    Message: <textarea  name="email-message" placeholder="Your Message" ></textarea><br/>
    <input type="button" class="btn btn-success" value="Send">
    </form>
</div>




 