<h2>Contact US</h2>
<p>Enter Details Below!</p>
<br/>
<div class="form">
    <form  #contactusform="ngForm" (ngSubmit)="savecontactus(contactusform)">
    Name: <input type="text" name="fullname" placeholder="Full Name" ngModel required ><br/>
    Email: <input type="email" name="emailid" placeholder="Email" ngModel required><br/>
    Mobile: <input type="text" name="mobileno" placeholder="Mobile Number" ngModel required ><br/>
    Message: <textarea  name="message" placeholder="Your Message" ngModel required></textarea><br/>
    <input type="reset" value="RESET" class="btn btn-info">&nbsp;
    <input type="submit" value="SEND" class="btn btn-success">
    </form>
</div>




 