<h2>About Us</h2>
<p>In today’s world of bus transportation many private bus transportation company have
    traditional approach of managing work on paper which seems to be money and time
    consuming. Also not guaranteed that all transaction to be error free and may lead to many
    calculation mistakes in bill generation and costing.</p>
    
<p>Online bus reservation system is a project which provides an online portal for bus ticket
    reservation. This application allows customers to book bus tickets from anywhere and
    anytime. The customer can easily book and cancel their tickets at their comfort.  </p>
    
<p>Thecustomer can view all the details of the seats, bus, and route along with pictures. The
    customer can also view and download the details of the journey and journey timings. This will
    give customer an overview of the journey and will be a hassle-free task of doing bus
    reservation at fingertips.</p>

<p>
    The objective of application is to computerize any traveling company process to manage
    data, so that all the transactions become faster and there should not be any error in
    transactions like calculation mistake, bill generation and other things. It replaces all the
    paperwork. It keeps records of all the bills also, given to the customers, so that customer
    could update his daily accounts.
</p>
<p>
    All most care and back-up procedures must be established to
    ensure 100% successful implementation of the computerized Bus reservation system.
</p>
<img src="assets/busmain.jpg/" style="height: 750px; width: 1510px;">
    

