<h1 style="text-align: center;">My Bus Reservation</h1> 
<br/>
<a routerLink="/login"  class="btn btn-info">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/signup" class="btn btn-success">Signup</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/contactus" class="btn btn-warning">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/aboutus" class="btn btn-info">About Us</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/privacypolicy" class="btn btn-danger">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;
<!-- sahana's -->


<a routerLink="/adminlogin" class="btn btn-info">Login As Admin</a>
<br/>
<router-outlet></router-outlet>