<h2>Privacy Policy</h2>
<p>
    My bus reservation system is a private online Bus reservation system and it uses the user data only for tracking and updating 
    the customers database but not for any personal uses.
</p>
<p>
    If you face any issues you can <a routerLink="/contactus" class="btn btn-warning">Contact Us</a>&nbsp;&nbsp;&nbsp;&nbsp;
</p>
<br/>
<b>What information do we collect?</b>
<p>
    In our website we are not asking any bank details or any cards details and based on our registration a wallet account will be created for storing money.
    and you can pay money based on payment gateways etc.
</p>

<b>How do you use the information?</b>
<p>
We are using these data for updating the user database only and not for any personal uses.
and we are accepting only the basic data link FirstName, LastName, EmailId, Phone Number.
</p>
<b>
    What information do you share?
</b>
<p>
 And we are not sharing your information with any other third party applications like (like a restaurant reservation Action)  with other users (like a social network or forum),
 with marketing partners, or with service providers that assist with your service (like hosting companies or technology platforms).
</p>
<marquee style="background-color: green;"><h4>Thank You For Using Our services..!</h4></marquee>