<h2>book your bus</h2>
<body>
    
    <form #bookbusForm="ngForm" (ngSubmit)="bookbus(bookbusForm)">
        <div><table align="center" border="1px solid black">
            <h2>Customer Details</h2>
            <tr>
                <td><b>CustomerId</b></td><td> <input type="text" name="custId" ngModel> </td>
            </tr>
            <tr>
                <td><b>Name</b></td><td> <input type="text" name="custName" ngModel> </td>
            </tr>
             
            <tr>
                <td><b>Gender</b></td><td>
                     Female<input type="radio" name="gender" value="male" ngModel>
                     Male<input type="radio" name="gender" value="female" ngModel>
                     Other<input type="radio" name="gender" value="other" ngModel>
                     </td>
            </tr>
            <tr>
                <td><b>Age</b></td><td> <input type="type" name="age" ngModel> </td>
            </tr>
            <tr>
                <td><b>PhoneNo</b></td><td> <input type="type" name="phNo" ngModel> </td>
            </tr>
           
            <tr>
                <td><input type="reset" value="RESET"></td>
                <td><input type="submit" value="submit"></td>
                <td> <input type="button" value="PAYMENT"> </td>
            </tr>
        </table>
    </div>
    </form>
    </body>