<h1>My Dashboard</h1>

Welcome  <b>{{loginid | uppercase}}</b>
<br/>
<!-- <img src="assets/busmain.jpg/" style="height: 520px; width: 1520px;"> -->
<a routerLink="/changepassword" class="btn btn-warning">changepassword</a>&nbsp;&nbsp;&nbsp;&nbsp;
<!-- sahana -->
<a routerLink="/bookbus" class="btn btn-success">Book Bus</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/cancelbus" class="btn btn-danger">Cancel Bus</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/deletebus" class="btn btn-warning">Delete Bus</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a routerLink="/addbus" class="btn btn-primary">Add Bus</a>&nbsp;&nbsp;&nbsp;&nbsp;
<!-- <router-outlet></router-outlet> -->


