<p>myprofiles works!</p>
<form #profileForm="ngForm" (ngSubmit)="saveProfile(profileForm)">
    <table>
        <tr>
            <td>Profile ID</td><td> <input type="text" name="pid" ngModel required> </td>
        </tr>
        <tr>
            <td>Name</td><td> <input type="text" name="name" ngModel required> </td>
        </tr>
        <tr>
            <td>Date Of Birth</td><td> <input type="date" name="dob" ngModel></td>            
        </tr>
        <tr>
            <td>Gender</td><td> <input type="radio" name="gender" value="male" ngModel>
                <label for="male">Male</label>
                <input type="radio" name="gender" value="female" ngModel>
                <label for="female">Female</label> </td>
        </tr>
        <tr>
        <td>Mobile Number</td><td> <input type="text" name="mobile" ngModel required minlength="10" maxlength="10"> </td>
        </tr>
        <tr>
            <td>Email</td><td> <input type="email" name="email" ngModel required email> </td>
        </tr>
        <tr>
            <td>Address</td><td> <input type="text area" name="address" ngModel> </td>
        </tr>
        <tr>
            <td><input type="reset"></td>
            <td><button type="submit" [disabled]="!profileForm.valid">SAVE</button></td>
        </tr>
    </table>
</form>

